<mat-nav-list>
  <mat-list-item *ngFor="let presentation of presentations" routerLink="/presentation/{{presentation.id}}/editing" (click)="closeSidenav()">
    <a matLine>{{ presentation.name }}</a>
    <p matLine>
      <span class="date">{{presentation.date | date: 'shortDate'}}</span>
      <span class="modules">{{ presentation.modules.length > 1 ? presentation.modules.length : '' }} {{presentation.modules.length | i18nPlural: {'=0': 'presentation_list.no_modules', '=1': 'presentation_list.one_module', 'other': 'presentation_list.several_modules'} | translate }}</span>
    </p>
    <button (click)="delete(presentation)" routerLink="/" class="delete" mat-icon-button>
      <mat-icon matListIcon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>

<div *ngIf="presentations.length === 0" class="nopresentations">
  <p>{{'presentation_list.no_presentations' | translate}}</p>
  <a (click)="create()" href="javascript:">{{'presentation_list.create' | translate}}</a>
</div>

<button (click)="create()" class="floating-button" mat-fab color="primary">
  <mat-icon aria-label="Create new presentation">add</mat-icon>
</button>

