@import '~@angular/material/theming';
@import '~_variables.scss';

mat-nav-list {
  min-width: 275px;
}

[mat-list-item] {
  p {
    span {
      color: map-get($mat-grey, 600);
      &.modules {
        float: right;
        padding-right: 1rem;
      }
      &.date {
        float: left;
      }
    }
  }
}

button {
  &.floating-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    @include mat-elevation-transition;
    @include mat-elevation(6);
    &:active {
      @include mat-elevation(12);
    }
  }

  &.delete {
    color: mat-color($app-warn, A100);
    &:hover {
      color: $warn;
    }
  }
}

.nopresentations {
  min-width: 275px;
  color: map-get($mat-grey, 600);
  text-align: center;
}
