@import '~_variables.scss';

mat-list-item {
  height: auto !important;
  padding: $gutter 0px;
}

.twitbody {
  text-overflow: unset !important;
  white-space: unset !important;
}

mat-list {
  overflow: hidden;
  border-top: 0px;
  height: 100%;
  padding: 0;
}

.gradient-top {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  left: 0;
  height: 40px;
  background: linear-gradient(to top, transparent, white 30%);
}

.gradient-bottom {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  background: linear-gradient(to bottom, transparent, white 50%);
}
