<div class="app-info">
  <p>{{'about.info_label' | translate}}</p>
  <p [innerHTML]="'about.info_value' | translate"></p>
</div>

<p>
  <mat-form-field>
    <mat-select [placeholder]="'about.change_lang' | translate" [(value)]="language">
      <mat-option value="en">English</mat-option>
      <mat-option value="es">Spanish</mat-option>
    </mat-select>
  </mat-form-field>
</p>

<div class="app-info">
  <p>{{'about.config_file_label' | translate}}</p>
  <p>{{'about.config_file_text' | translate}}</p>
  <button class="conf-path" mat-button (click)="copyPath()">{{configFilePath}}</button>
</div>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{'close' | translate}}</button>
  <button mat-button (click)="openUserDataPath()">{{'about.open_userdata' | translate}}</button>
  <button mat-button (click)="openConfigFile()">{{'about.open_settings' | translate}}</button>
</mat-dialog-actions>
