@import '~@angular/material/theming';
mat-list-item {
  p {
    span {
      &.layout {
        float: right;
      }
      &.date {
        float: left;
      }
    }
  }
}

button.floating-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  @include mat-elevation-transition;
  @include mat-elevation(6);
  &:active {
    @include mat-elevation(12);
  }
}
