<mat-nav-list>
  <mat-list-item *ngFor="let presentation of presentations" routerLink="/edit/{{presentation.id}}">
    <a matLine>{{ presentation.name }}</a>
    <p matLine>
      <span class="date">{{presentation.date | date: 'shortDate'}}</span>
      <span class="modules">{{presentation.modules.length | i18nPlural: {'=0': 'No modules', '=1': 'One module', 'other': '# modules'} }}</span>
    </p>
    <button (click)="delete(presentation)" class="delete" mat-icon-button>
      <mat-icon matListIcon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>

<button (click)="create()" class="floating-button" mat-fab color="primary">
  <mat-icon aria-label="Create new presentation">add</mat-icon>
</button>

