@import '~_variables.scss';
@import '~@angular/material/theming';

mat-toolbar {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: $toolbar-height;

  -webkit-user-select: none;

  button {
    -webkit-app-region: no-drag;
  }

  span {
    -webkit-app-region: drag;
    &.filling {
      flex: 1 1 auto;
      height: 70%;
    }
    &.title {
      padding-left: 1rem;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}
