<mat-grid-list *ngIf="presentation && presentation.modules.length > 0" [cols]="cols" rowHeight="fit">
  <mat-grid-tile *ngFor="let module of presentation.modules; let i = index" [rowspan]="rowspan(i)">

    <mat-card>
      <!-- Delete module button -->
      <button *ngIf="editing" (click)="remove(module)" matTooltip="{{'remove' | translate}}" mat-raised-button color="warn" class="delete-button mat-elevation-6">
        <mat-icon>close</mat-icon>
      </button>

      <!-- If editing, show the form -->
      <mat-card-content *ngIf="editing">
        <div class="gradient-top"></div>
        <mat-form-field>
          <mat-select [placeholder]="'module_form.select_type' | translate" [(value)]="module.type">
            <mat-option value="twitter">{{'modules.twitter' | translate}}</mat-option>
            <mat-option value="player">{{'modules.player' | translate}}</mat-option>
            <mat-option disabled value="weather">{{'modules.weather' | translate}}</mat-option>
            <mat-option disabled value="traffic">{{'modules.traffic' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div [ngSwitch]="module.type">
          <app-twitter-form  (save)="save()" [configuration]="module.configuration" *ngSwitchCase="'twitter'"></app-twitter-form>
          <app-video-form  (save)="save()" [configuration]="module.configuration" *ngSwitchCase="'player'"></app-video-form>
          <div *ngIf="module.type === undefined" class="filling-error">
              <div><mat-icon>error_outline</mat-icon></div>
              <div><p> {{'module_form.select_type_warn' | translate}}</p></div>
          </div>
        </div>
        <div class="gradient-bottom"></div>
      </mat-card-content>

      <!-- If not editing, show the module display -->
      <div class="fill_parent module" *ngIf="!editing" [ngSwitch]="module.type">
        <app-twitter-view class="fill_parent" [configuration]="module.configuration" *ngSwitchCase="'twitter'"></app-twitter-view>
        <app-video-player [configuration]="module.configuration" *ngSwitchCase="'player'"></app-video-player>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
