@import '~_variables.scss';

mat-grid-list {
  height: calc(100% - #{$gutter});
  width: calc(100% - #{$gutter});
  top: $gutter/2;
  left: $gutter/2;
}

.fill_parent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card {
  width: calc(100% - 32px - #{$gutter});
  height: calc(100% - #{$gutter});
  display: flex;
  flex-flow: column;
  padding: 0px 16px;
}

mat-card-content {
  padding: 24px 0px;
  overflow: auto;
  padding-right: 5px;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.module {
  padding: 24px 0px;
}

.delete-button {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 0px 6px;
  min-width: 0;
  z-index: 3;
}

.gradient-top {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  left: 0;
  height: 24px;
  background: linear-gradient(to top, transparent, white 30%);
}

.gradient-bottom {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
  height: 24px;
  background: linear-gradient(to bottom, transparent, white 50%);
}

.filling-error {
  padding: 24px 0px;
}
