@import '~_variables.scss';

mat-card {
  width: calc(100% - (#{$mat-card-padding} * 2) - #{$gutter});
  height: calc(100% - (#{$mat-card-padding} * 2) - #{$gutter});
  display: flex;
  flex-flow: column;
}

mat-list-item {
  height: auto !important;
  padding: $gutter 0px;
}

.twitbody {
  text-overflow: unset !important;
  white-space: unset !important;
}

mat-list {
  overflow: hidden;
  border-top: 0px;
}

.gradient_top {
  position:absolute;
  z-index:2;
  right:0; top:0; left:0;
  height: 40px;
  background: linear-gradient(to top,  transparent,white 30%);
}

.gradient_bottom {
  position:absolute;
  z-index:2;
  right:0; bottom:0; left:0;
  height: 100px;
  background: linear-gradient(to bottom,  transparent,white 50%);
}
