  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let question of questions">
      <app-dynamic-form-question [question]="question" [form]="form"></app-dynamic-form-question>
    </div>

    <div class="filling">
    </div>
    <div>
        <button *ngIf="submitButton" mat-button type="submit" [disabled]="form.invalid">Save</button>
        <button *ngIf="removeButton" mat-button type="button" color="warn" (click)="remove.emit($event)">{{'remove' | translate}}</button>
    </div>
  </form>
