@import '~@angular/material/theming';

$app-primary:   mat-palette($mat-blue);
$app-accent:    mat-palette($mat-yellow);
$app-warn:      mat-palette($mat-red);

$app-grey: mat-palette($mat-grey);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
