@import '~@angular/material/theming';
@include mat-core();
@import '_variables.scss';
@include angular-material-theme($app-theme);

$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

html, body {
  margin: 0;
  padding: 0;

  height: 100%;

  font-family: Roboto, Arial, sans-serif;
}
