@import '~@angular/material/theming';
@include mat-core();
@import '_variables.scss';
@include angular-material-theme($app-theme);

html, body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: $toolbar-height;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-form-field, form {
  width: 100%;
}

.app-info{
  p:first-child {
    color: mat-color($app-grey);
    transform: scale(0.75);
    transform-origin: 0;
    margin-bottom: 0px;
  }
  p {
    margin-top: 0px;
  }
}

p.mini-title {
  color: mat-color($app-grey);
  transform: scale(0.75);
  transform-origin: 0;
  margin: 0px;
}

.filling-error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    padding: 0px 24px;
  }

  mat-icon {
    $size: 72px;
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
  }
}
